In [3]:
# Defining a function

def add1(input):
    """
    add 1 to input
    """
    output=input+1
    return output

In [4]:
# Calls a function
add1(5)

6

In [6]:
# assigns the function to a variable
c = add1(10)
c

11

In [3]:
def Mult(input1, input2):
    """
    multiplies input1 & input2
    """
    c=input1 * input2
    return c

In [4]:
Mult(3,6)

18

Function without a return statement

In [2]:
def MJ():
    print('Michael Jackson')
MJ()

Michael Jackson

In [5]:
def NoWork():
    pass
print(NoWork())

None

In [6]:
def add2(a):
    b=a+2
    print(a, "plus 2 equals", b)
    return b

In [7]:
add2(5)

5 plus 2 equals 7

7

In [13]:
# Global Scope

# Rating = 9

def ACDC(y):
    print(Rating)
    return(Rating+y)

Rating = 9

In [14]:
Z = ACDC(1)
Z

9

10

In [15]:
# Global Variable

def PinkFloyd():
    global ClaimedSales
    ClaimedSales = '45 million'
    return ClaimedSales

In [17]:
print(ClaimedSales)

45 million

In [22]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)
square(5)

5 if you square + 1 26

26

In [18]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [23]:
# Define the function for combining two strings

def con(a, b):
    return(a + b)

In [24]:
con("Hello ", "Jared")

'Hello Jared'

In [31]:
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

0

In [32]:
Equation(5,3)

5

In [33]:
Equation(10,-5)

0

In [34]:
# Functions and IF statements

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie